*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" , sans-serif;
}
body{
    background: var(--white-blue);
}
:root{
    --black: #000;
    --blue: #1D75F9;
    --orange: #F9B21D;
    --green: #C6F25D;
    --white: #fff;
    --gray: #9E9E9E;
    --white-blue:#FAFAFA;
    --dark-blue: #256dda;
}
.flex{
    display: flex;
}
.justify{
    justify-content: space-between;
}
.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1340px;
}
.align{
    align-items: center;
}
nav{
    background-color: var(--white-blue);
    position: sticky;
    top: 0;
    z-index: 999;
}
.all_nav{
    padding: 25px 0px;
}
.logo{
    font-size: 16px;
    gap: 10px;
}
.logo img{
    width: 79px;
    height: 48px;
}
.menu li{
    font-size: 16px;
    padding: 20px 30px;
    list-style: none;
    color: var(--gray);
    font-weight: 500;
    transition: 0.3s;
    margin: 5px;
}
.menu li:hover{
    color: var(--black);
    font-weight: 600;
}
.nav_btn{
    background-color: var(--blue);
    padding: 15px 75px;
    font-size: 21px;
    font-weight: 700;
    color: var(--white);
    border: none;
    border-radius: 16px;
    transition: .3s;
}
.nav_btn:active{
    background-color: var(--dark-blue);
}
/* header */
.all_head{
    margin-top: 10px;
    background-color: var(--orange);
    border-radius: 25px;
}
.head{
    padding: 100px 0;
}
.head_flex{
    color: var(--white);
}
.head_flex h1{
    font-size: 56px;
}
.head_btn{
    background-color: var(--blue);
    padding: 15px 75px;
    font-size: 21px;
    font-weight: 700;
    color: var(--white);
    border: none;
    border-radius: 16px;
    transition: .3s;
    margin-top: 50px;
}
.head_btn:active{
    background-color: var(--dark-blue);
}
.head_flex p{
    font-size: 30px;
    margin-top: 135px;
}
.head_flex_two img{
    width: 670px;
    height: 450px;
}
.biz_info{
    margin-top: 90px;
    text-align: center;
}
.title h1{
    font-size: 60px;
    color: var(--black);
    font-weight: 800;
    text-align: center;
}
.title p{
    font-size: 32px;
    margin-top: 25px;
}
.biz_flex button{
    margin-top: 55px;
    width: 49.3%;
    border: none;
    background-color: var(--blue);
    padding: 55px 0;
    border-radius: 20px;
    color: var(--white);
    font-size: 52px;
    font-weight: 800;
    transition: .3s;
}
.biz_flex button:active{
    background-color: var(--dark-blue);
}
.ustoz_info{
    background-color: var(--green);
    padding: 94px 98px;
    text-align: center;
    margin-top: 100px;
    border-radius: 20px;
}
.ustoz_title h1{
     font-size: 50px;
     color: var(--black);
    font-weight: 800;
}
.ustoz_title p{
    font-size: 36px;
    margin-top: 30px;
    font-weight: 500;
}
.ustoz_info img{
    width: 340px;
    height: 325px;
    margin: 30px 0;
}
.info{
    background-color: var(--blue);
    margin-top: 100px;
    padding: 50px 100px;
    border-radius: 20px;
    position: relative;
}
.info_flex h1{
    color: var(--white);
    font-size: 60px;
}
.info_flex{
    flex-direction: column;
}
.info_im h1{
    background-color: var(--white);
    color: var(--blue);
    font-size: 30px;
    padding: 35px 60px;
    display: inline-block;
    border-radius: 20px;
}
.info_im p{
    color: var(--white);
    font-size: 20px;
    margin-top: 20px;
}
.info_im{
    margin-top: 50px;
    gap: 50px;
}
.info_flex_two{
    transition: 2s;
}
.info_flex_two h1{
    position: absolute;
    font-size: 400px;
    right: 100px;
    bottom: -40px;
    color: var(--white);
}
.info:hover .info_flex_two{
    transform: rotate(10deg);
}
.info_flex_two img{
    transform: rotate(-10deg);
}
.afz_text{
    margin-top: 100px;
}
.afzallik{
    margin-bottom: 100px;
}
.afzal{
    flex-wrap: wrap;
}
.afz{
    width: 48%;
    margin-top: 50px;
    gap: 40px;
}
.afz h1{
    background-color: var(--green);
    color: var(--black);
    border-radius: 20px;
    font-size: 40px;
    font-weight: 800;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.afz p{
    font-size: 28px;
    font-weight: 500;
}
